.Home-Page {
    width: 100%;
    min-height: 91.5vh;
    max-height: auto;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(88, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.bannerimg {
    width: 400px;
    height: 400px;
}

.viewbook {
    outline: none;
    border: 1px solid white;
    background-color: transparent;
    padding: 5px 18px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.viewbook:hover {
    color: white
}